body {
    margin: 0;
    padding: 0;
    background-color:yellow;
}

header {
    padding: 60px;
    background-color: #333333;
    color: whitesmoke;
    height: 150px;
}

main {
    padding: 20px;
}